
html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background-image: url("../img/bg.jpg");
    background-size: 100%;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

textarea[contenteditable] {
    -webkit-appearance: none;
}

.gifhidden {
    position: absolute;
    left: -100%;
}

 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}

#container {
    height:100%;
}

#top {
   position:fixed;
   top:0;
   height:40%;
   width:100%;
}

.icon:nth-child(2) {
    margin-right: 0;
}

.icon {
    background-color: #e0e2e5;
    width: 169px;
    height: 169px;
    margin-right: 10px;
    display: inline-block;
}

.tasks {
    clear:both;
    position:fixed;
    bottom:0;
    height:60%;
    width:100%;
    overflow:auto;
    padding:0 0 55px 0;
}

.tasks ul {
    margin:0 0 0 42px;
    padding:20px 0 0 0;
}

.tasks ul li {
    height:160px;
    width:160px;
    border:1px sold red;
    float:left;
    margin: 0 10px 10px 0;
    list-style-type: none;
}

.tasks ul li h2 {
    color:#fff;
    text-align: center;
    font-size: 17px;
    margin-top: 130px;
    font-weight:normal;
    letter-spacing: 1px;
}

.green {
    background:#8ddb78;
}

.orange {
    background: #f2c57c;
}

.pink {
    background: #ffadc6;
}

.salmon {
    background: #f6828c;
}

.purple {
    background: #483f66;
}

.light-purple {
    background: #9179e4;
}

.aqua {
    background: #559cad;
}